doctype html
html(lang="en")
  head
    title Bumpy Road
    link(rel='stylesheet', href = 'road.css')
    script(src='icon.js', type = 'text/javascript')  
  body
    .car
      .body
        .top          
          .back  
          .glass.side
          .glass.front
        .base
          .guard
          .trunk
            .mudguard
          .door 
          .bonnet-side            
            .mudguard
          .bonnet
            .light
            .light
            .light
            .light
            .light  
      .wheels.front
        .wheel
        .wheel
      .wheels.back
        .wheel
        .wheel
    .road
      .earth-elements
        .element.l.dark
        .element.s.light
        .element.m.dark
        .element.s.light.bump
        .element.s.light
        .element.l.light.bump
        .element.m.dark
        .element.m.dark.bump
        .element.xs.light  
        .element.m.light        