doctype html
html(lang="en")
  head
    title Pie Infographic    
    //link(rel='stylesheet', href = 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400')
    //link(rel='stylesheet', href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href = 'vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href = 'infographic.css')
    script(src='infographic.js', type = 'text/javascript')  
  body
    div.infographic-wrapper