doctype html
html(lang="en")
  head
    title Pie Infographic
    link(rel='stylesheet', href = 'infographic.css')
    script(src='infographic.js', type = 'text/javascript')  
  body
    div.infographic-wrapper