.infographic-wrapper{
	width:25vw;
	height:25vw;
	margin:auto;

	svg{
		transition: transform 2s;
    	-webkit-transition: -webkit-transform 2s;
	}

	.outer-group, .content-group{
		transform-origin: '50% 50%';
    	-webkit-transform-origin: '50% 50%';    	
		width: 100%;
		height: 100%;
	}

	.outer-group{
		transition: transform 2s;
    	-webkit-transition: -webkit-transform 2s;
	}

	.content-group{
		overflow: visible;		
	}
}