.infographic-wrapper{
	width:30vw;
	height:30vw;
	margin:auto;

	svg{
		transition: transform 2s;
    	-webkit-transition: -webkit-transform 2s;
	}

	.outer-group, .content-group .icon-group{
		transform-origin: '50% 50%';
    	-webkit-transform-origin: '50% 50%';    			
	}

	.outer-group{
		transition: transform 2s;
    	-webkit-transition: -webkit-transform 2s;
    	width: 100%;
		height: 100%;

    	[data-state~='expand'] > .content-group {
    		
    		.icon-group{
    			opacity:1
    		}

    		.detail{
				opacity:1;
			}
		}
	}

	.content-group{
		overflow: visible;

		.icon-group{
			font-size: 22px;
			opacity: 0.5;			
		}		

		.detail{
			opacity: 0;
		}		
	}
}