doctype html
html(lang="en")
  head
    title Pipeline Funnel
    link(rel='stylesheet', href = 'pipeline.css')
    script(src='https://fb.me/react-0.14.7.min.js', type = 'text/javascript', integrity="sha384-zTm/dblzLXQNp3CgY+hfaC/WJ6h4XtNrePh2CW2+rO9GPuNiPb9jmthvAL+oI/dQ", crossorigin="anonymous")
    script(src='https://fb.me/react-dom-0.14.7.min.js', type = 'text/javascript', integrity="sha384-ntqCsHbLdMxT352UbhPbT7fqjE8xi4jLmQYQa8mYR+ylAapbXRfdsDweueDObf7m", crossorigin="anonymous")
    script(src='pipeline.js', type = 'text/javascript')
  body