doctype html
html(lang="en")
  head
    title Clock Tower
    link(rel='stylesheet', href = 'clock-tower.css')
  body
    div.clock-tower
        div.pillar.is-tower
            div.door
            div.door
            div.strokes
            div.pillar.is-support
            div.pillar.has-windows
                div.window
                div.window
                div.pillar.is-support
                    div.dome
                    div.dome
        div.ground
